.main{
    width: 100%;
    height: 1000px;
    background: #bfc2c7;
 }
 .new{
     width: 100%;
     height: 340px;
     margin-top: 40px;
     margin-left: 0px;
     background: #bfc2c7;
 }
 .img1{
     width: 100%;
 height: 685px;
 image-orientation: from-image;
 }
 body{
     margin: 0px;
 }
 .bg-1{
    background-image: linear-gradient(92deg, #a72879 -30%, #064497);
 }
 .bg-2{
     background-color: #5390d9;
 
 }
 .bg-3{
     background-color: #5e60ce;
     
 }
 .bg-4{
     background-color: #a37ce2;
 }
 .bg-5{
     background-color: #064597e1;
 }
